.list {
    font-family:sans-serif;
    margin:0;
    padding:20px 0 0;
}
.list > li {
    display:block;
    background-color: #eee;
    padding:10px;
    box-shadow: inset 0 1px 0 #fff;
}
.avatar {
    max-width: 150px;
}
img {
    max-width: 100%;
}
h3 {
    font-size: 16px;
    margin:0 0 0.3rem;
    font-weight: normal;
    font-weight:bold;
}
p {
    margin:0;
}

.search {
    margin: 1px 0 1px 10px;
    border: 1px solid gray;
}
