*{
    margin:auto;
}
body{
    background: url("../images/bg-light-0001.gif");
}

#header{
    margin-top: 10px;
    height: 200px;
    width: 750px;
    background: url("../images/logo.png") 50% 25% no-repeat #0061a6;
}
#headerblocks{
    position: relative;
    top: 120px;
    width: 600px;
    height: 25px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-top: 5px;
}
#headerblocks .inner{
    width: 590px;
    height: 20px;
    background-color: #FF4C00;
}
#contact{
position: relative;
top:130px;
right: 20px;
width: 750px;
height: 25px;
}
#contact p{
float: right;
font-family: "Segoe UI";
font-weight: 400;
font-size: 15px;
color:white;
margin-right:65px;
}
#mapbutton{
    position: fixed;
    float: right;
    width: 45px;
    height: 150px;
    background-color: #FF713A;
    border-radius: 0 15px 15px 0;
    -webkit-box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
}

#mapbutton img{padding: 24px 13px;}
#contactbutton img{padding: 24px 13px;}

#contactbutton{
    position: fixed;
    top: 370px;
    float: right;
    width: 45px;
    height: 150px;
    background-color: #0061a6;
    border-radius: 0 15px 15px 0;
    -webkit-box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
}

#modal{
    width: 600px;
    height: 250px;
    position: fixed;
    top: 15%;
    left: 25%;
    right: 25%;
    display: none;
}

#modalmapclose{
    width: 100px;
    height: 25px;
    margin-right: -10px;
    background: #FF713A;
    float: right;
    text-align: center;
    font-family: "Segoe UI";
    font-weight: lighter;
    font-size: 15px;
    color: white;
    display: none;
    border-radius: 5px;
    cursor: default;
}

#modalmap{
    margin-top: 27px;
    width: 600px;
    height: 450px;
    border: 5px solid #FF713A;
    display: none;
-webkit-box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
}

#main{
   padding: 12px 0;
   height: auto;
   background-color: #f8f9f9;
   width: 750px;
}

#maintable, #maintable tr, #maintable td{
    border: 0;
    border-collapse: collapse;
}

#maintable td{
    padding: 12px 3px 12px 3px;
    text-align: center;
    width: 30%;
    height: 30%;
}
#maintable a{
    cursor: default;
}

#maintable td.block1,#maintable td.block3,#maintable td.block4, #maintable td.block6 {
    border-bottom: 3px solid #0061a6;
}

#maintable td.block2{
    border-right:3px solid #0061a6;
    border-bottom: 3px solid #0061a6;
    border-left: 3px solid #0061a6;
}

#maintable td.block5{
    border:3px solid #0061a6;
}
#maintable td.block8{
    border-right:3px solid #0061a6;
    border-top: 3px solid #0061a6;
    border-left: 3px solid #0061a6;
}

div[id^="block"]{
    width: 150px;
    height: 150px;
    background-color: #FF713A;
    border-radius: 50%;
    -webkit-box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
    }
div[id^="block"] img{
    margin: 4px 1px 0 2px;
}
.button{
    width: 210px;
    height: 40px;
    background-color: #ff713a;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
}

.button img{
    margin: 5px 0 0 0;
}

#information{
    display: none;
}

.back{
    background-color: #FF713A;
    width: auto;
    height: 20px;
}

.back p{
    font-family: "Segoe UI";
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    color: white;
}
.back a:link{
    text-decoration: none;
}
#information h1{
    font-family: "Segoe UI";
    font-weight: lighter;
    font-size: 27px;
    text-align: center;
}
#information h2{
    font-family: "Segoe UI";
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}
h2 ~ hr{
    margin-left: -7px;
    width: 450px;
    margin: auto;
}
div[id*="tablesearch"] h3{
    font-family: "Segoe UI";
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
}
div[id*="tablesearch"] h3 ~ hr{
    margin-left: -7px;
    width: 450px;
    margin: auto;
}
#information hr{
    border-radius: 50%;
    background-color: #0061a6;
    border: 0;
    height: 1px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#information .grid, .grid tr, .grid td{
    font-family: "Segoe UI";
    font-weight: lighter;
    font-size: 15px;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px 0 10px;

}
.tableheader td{
    text-align: center;
    font-family: "Segoe UI";
    font-weight: 600;

}
.search{
    border: 1px solid gray;
    margin: 10px 0 0 0;
}
#information table{
    width: 100%;
}

#information .product{
    margin: 0 7px 0;
    /*word-break: break-all;*/
    word-wrap: break-word;
}

#information .product p{
    font-family: "Segoe UI";
    font-weight: lighter;
    font-size: 17;
    padding: 0 0 10px 0;
    text-indent: 17px;
}

hr{
    background-color: #0061a6;
    width: 750px;
    height: 3px;
    border: none;
}
#footer {
    height: 108px;
    background: url("../images/footer.png") center no-repeat #FFFFA5;
    width: 750px;
    margin-bottom: 10px;
}

/*Needs in refactoring*/
@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}